---
import Layout from '../../layouts/Layout.astro';
import NetLogoApi from '../../utils/api.js';

import versions from './versions.json';

import VersionList from '../../components/download/archive/version-list';
import ArchivePage from '../../components/download/archive/archive-page';
import type { VersionEntryProps } from '../../components/download/archive/version-entry';

const api = new NetLogoApi();
const pageData = await api.getResourcesData();

const title = 'NetLogo Download Archive';
const description = 'Archive of previous NetLogo versions';
---

<Layout show_footer_buttons={false} title={title} description={description}>
	<ArchivePage title={title}>
		<p>
			{description}. See <a href='https://docs.netlogo.org/versions.html'>release notes</a> for details on version differences
			<br />
			(Mac OS X users wanting to use NetLogo versions prior to 5.0.4, please <a
				href='https://ccl.northwestern.edu/netlogo/mountain-lion.shtml'>read this</a
			>)
		</p>
		<VersionList
			client:load
			versions={versions as VersionEntryProps[]}
			accentColor='var(--Primary-color, #FB6055)'
			lineColor='#d4d9df'
		/>
	</ArchivePage>
</Layout>
