---
import { Body } from "../components/Body.tsx";
import fetch from 'node-fetch';
import * as cheerio from 'cheerio';

let base = 'https://backend.netlogo.org';

let response = await fetch(base + '/items/announcements')
let data: any = await response.json();
const announcement = data.data;

response = await fetch('https://backend.netlogo.org/items/upcoming_events');
data = await response.json();
const upcomingEvents = data.data;

// reupload, 
response = await fetch(base + '/items/upcoming_workshops');
data = await response.json();
const upcomingWorkshops = data.data;

response = await fetch(base  + '/items/competitions');
data = await response.json();
const competitions = data.data;

response = await fetch(base + '/items/publications');
data = await response.json();
const publications = data.data;

const fetchImageFromLink = async (url: string) => {
    try {
        const response = await fetch(url);
        const body = await response.text();
        const $ = cheerio.load(body);
        const image = $('tr').eq(1).find('td').eq(1).find('img').first().attr('src');       
        return image ? `https://ccl.northwestern.edu/netlogo/${image}` : null;
    } catch (error) {
        console.error(`Error fetching image from ${url}:`, error);
        return null;
    }
};

const splitProjectAndAuthor = (inputString: string) => {
  const separator = " by ";
  const separatorIndex = inputString.indexOf(separator);

  if (separatorIndex === -1) {
    return {
      project: inputString.trim(),
      author: ""
    };
  }

  const project = inputString.substring(0, separatorIndex).trim();
  const author = inputString.substring(separatorIndex + separator.length).trim();

  return { project, author };
};

const fetchCommunityData = async () => {
    const response = await fetch('https://ccl.northwestern.edu/netlogo/models/community/');
    const body = await response.text();
    const $ = cheerio.load(body);
    
    const communityDataPromises: any[] = [];
    $('#modelEntry').each((index, element) => {
        if (index >= 5) {
            return false;
        }
        
        const linkModifier = $(element).find('td').eq(1).find('a').attr('href')?.trim() ?? '';
        const fullLink = `https://ccl.northwestern.edu/netlogo/${linkModifier}`; 

        const titleAuthor = $(element).find('td').eq(2).text();
        const { project, author } = splitProjectAndAuthor(titleAuthor);
        const fetchImagePromise = fetchImageFromLink(fullLink).then((imageUrl) => {
            return { project: project, author: author, link: fullLink, image: imageUrl, date: 'May, 2024'};
        });

        communityDataPromises.push(fetchImagePromise);
    });
    
    const communityData = await Promise.all<any>(communityDataPromises);
    return communityData;
};

const communityContent2 = await fetchCommunityData();
console.log(communityContent2);
---

<html lang="en">
	<head>
	</head>
	<body>
		<Body client:load announcement={announcement}
        upcomingEvents={upcomingEvents}
        upcomingWorkshops={upcomingWorkshops}
        competitions={competitions}
        publications={publications}
        communityContent={communityContent2}
        />
	</body>
</html>

