---
import NetLogoApi from "../utils/api.js";
import { Header } from "../components/layout/header2";
import { Footer } from "../components/layout/footer";
import "./styles/Layout.css";
import { ViewTransitions } from "astro:transitions";

const { show_footer_buttons } = Astro.props;

const api = new NetLogoApi();

const navData = await api.getNavigationData();

const { navigation_sections } = navData;

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-N5CY0TR3R2"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-N5CY0TR3R2");
    </script>
    <ViewTransitions />
  </head>
  <body>
    <Header client:load navData={navigation_sections} />
    <div class="container-fluid">
      <main>
        <slot />
      </main>
    </div>
    <Footer
      client:load
      navData={navigation_sections}
      show_buttons={show_footer_buttons}
    />
  </body>
</html>
